@page "/"
<head>
    <link rel="stylesheet" href="css/home.css" />
</head>
<header>
    <div class="container">
        <h1>Lost and Found</h1>
        <nav>
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="https://localhost:7194/add-item">Report Lost Item</a></li>
                <li><a href="https://localhost:7194/add-item">Report Found Item</a></li>
                <li><a href="#">Contact Us</a></li>
            </ul>
        </nav>
    </div>
</header>

<section class="hero">
    <div class="container">
        <h2>Welcome to the Lost and Found Web App</h2>
        <p>Helping you find your lost items and return found items to their rightful owners.</p>
        <a href="https://localhost:7194/item" class="btn">Get Started</a>
    </div>
</section>

<section class="featured-items">
    <div class="container">
        <h2>Featured Items</h2>
        <div class="items-grid">
            <div class="item">
                <h3>Black Wallet</h3>
                <p>Found at Bukan Sidi, Lafia</p>
            </div>
            <div class="item">
                <h3>Blue Jacket</h3>
                <p>Lost in Central Park, Nasarawa</p>
            </div>
            <div class="item">
                <h3>Silver Watch</h3>
                <p>Found at Gwagwalada, Abuja</p>
            </div>

        </div>
    </div>
</section>

<footer>
    <div class="container">
        <p>&copy; 2023 Lost and Found Web App. All rights reserved.</p>
    </div>
</footer>